.logo{
     width: 800px;
    height: 600px;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-image:url('imagens/cla.png')
}